@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap&family=Pacifico&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family-primary: 'Pacifico', cursive;
  --text-shadow-blue:0 0 5px #1b91f1, 0 0 10px #1b91f1, 0 0 20px #1b91f1, 0 0 30px #1b91f1;
  --text-shadow-purple:0 0 5px #903ef3, 0 0 10px #903ef3, 0 0 20px #903ef3, 0 0 30px #903ef3;
  --text-shadow-green:0 0 5px #3aeb34, 0 0 10px #3aeb34, 0 0 20px #3aeb34, 0 0 30px #3aeb34;
  --text-shadow-orange:0 0 5px #fc902b, 0 0 10px #fc902b, 0 0 20px #fc902b, 0 0 30px #fc902b;
}

body {
  font-size: 62.5%;
  height: 1200px;
  background-color: #151515;
}

.box-menu-mobile {
  position:fixed;
  z-index: 1;
}

.box-menu-mobile.active {
  width: 100%;
  height: 100%;
}

.toggle-menu {
  position: fixed;
  width: 250px;
  height: 100%;
  background-color: #252525;
  z-index: 5;
  clip-path: circle(80px at 15px 10px);
  transition: all .7s ease;
}

.toggle-menu.active {
  clip-path: circle(150% at 0 0);
}

.box-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  margin: 10px 0 30px 10px ;
  cursor: pointer;
  border-radius: 100%;
}

.box-img:hover {
  background-color: #303030;
  transition: all .3s ease;
}

.box-ul.active {
  display: block;
  animation: move-up 2s ease;
}

.box-ul {
  position: absolute;
  width: 100%;
  top: 35%;
}

.box-ul ul li {
  width: 100%;
  list-style: none;
}

.box-ul ul li a svg {
  width: 35px;
  margin: 0 10px 0 0;
}

.box-ul ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 3px;
  color: #FFF;
  text-decoration: none;
  transition: all .2s linear;
}

.box-ul ul li .btn-blue {
  fill: #FFF;
}

.box-ul ul li .btn-blue:hover {
  background-color: #252525;
  color: #1b91f1;
  fill: #1b91f1;
  box-shadow: -10px 0 0 #1b91f1;
  border-radius: 0 5px 5px 0;
  transform: translateX(10px);
  transition: all .2s linear;
}

.box-ul ul li .btn-orange {
  fill: #FFF;
}

.box-ul ul li .btn-orange:hover {
  background-color: #252525;
  color: #fc902b;
  fill: #fc902b;
  box-shadow: -10px 0 0 #fc902b;
  border-radius: 0 5px 5px 0;
  transform: translateX(10px);
  transition: all .2s linear;
}

.box-ul ul li .btn-green {
  fill: #FFF;
}

.box-ul ul li .btn-green:hover {
  background-color: #252525;
  color: #3aeb34;
  fill: #3aeb34;
  box-shadow: -10px 0 0 #3aeb34;
  border-radius: 0 5px 5px 0;
  transform: translateX(10px);
  transition: all .2s linear;
}

.box-ul ul li .btn-purple {
  stroke: #FFF;
}

.box-ul ul li .btn-purple:hover {
  background-color: #252525;
  color: #903ef3;
  stroke: #903ef3;
  box-shadow: -10px 0 0 #903ef3;
  border-radius: 0 5px 5px 0;
  transform: translateX(10px);
  transition: all .2s linear;
}

.box-menu-logo {
  padding: 30px 10px 30px ;
  border-top: 3px solid #FFF;
  border-bottom: 3px solid #FFF;
}

.menu-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: var(--font-family-primary);
  color: #FFF;
}

.menu-logo.active {
  animation: move-rigth 1.2s ease-out;
}

/* ---------- */
/* animations */
/* ---------- */

@keyframes move-rigth {
  from {
    transform: translateX(-400px);
  } 
  to {
    transform: translateX(0px);
  }
}

@keyframes move-up {
  from {
    transform: translateY(700px);
  }
  to {
    transform: translateY(0px);
  }
}

