@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap&family=Heebo:wght@400;600;900&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family-primary: 'Heebo', sans-serif;
  --color-blue: #1b91f1;
  --color-orange: #fc902b;
  --color-green: #3aeb34;
  --color-purple: #903ef3;
}

body {
  font-size: 62.5%;
  height: 1200px;
  background-color: #0F0F0F;
}


/* ----------------- */
/* Screen for mobile */
/* ----------------- */

@media screen and (max-width:767px) {
  .bar-menu-tablet {
    display: none;
  }

  .bar-menu-mobile {
    display: block;
  }

  .bar-menu-mobile {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 95%;
    height: 100px;
    border-radius: 30px 30px 0 0;
    z-index: 100;
  }

  .box-menu-button {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "bt1 bt2 bt3 bt4"; 
  }

  .box-menu-button button {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    border: none;
    background: none;
    transition: all .2s linear;
  }

  .box-menu-button .btn-1 {
    fill: #FFF; 
    &  p {
      color: #FFF;
    }
  }
  .box-menu-button .btn-2 {
    fill: #FFF; 
    & p {
      color: #FFF;
    }
  }
  .box-menu-button .btn-3 {
    fill: #FFF; 
    & p {
      color: #FFF;
    }
  }
  .box-menu-button .btn-4 {
    stroke: #FFF;
    & p {
      color: #FFF;
    }
  }

  .box-menu-button .btn-1:hover {
    fill: var(--color-blue); 
    box-shadow: 0 10px 0 var(--color-blue);
    transform: translateY(-10px);
    & p {
      transform: translate(-50%, -25px);
      text-shadow: 0 0 10px var(--color-blue),
                   0 0 20px var(--color-blue),
                   0 0 30px var(--color-blue);
    }
  }
  .box-menu-button .btn-2:hover {
    fill: var(--color-orange); 
    box-shadow: 0 10px 0 var(--color-orange);
    transform: translateY(-10px);
    & p {
      transform: translate(-50%, -25px);
      text-shadow: 0 0 10px var(--color-orange),
                   0 0 20px var(--color-orange),
                   0 0 30px var(--color-orange);
    }
  }
  .box-menu-button .btn-3:hover {
    fill: var(--color-green); 
    box-shadow: 0 10px 0 var(--color-green);
    transform: translateY(-10px);
    & p {
      transform: translate(-50%, -25px);
      text-shadow: 0 0 10px var(--color-green),
                   0 0 20px var(--color-green),
                   0 0 30px var(--color-green);
    }
  }
  .box-menu-button .btn-4:hover {
    stroke: var(--color-purple);
    box-shadow: 0 10px 0 var(--color-purple);
    transform: translateY(-10px);
    & p {
      transform: translate(-50%, -25px);
      text-shadow: 0 0 10px var(--color-purple),
                   0 0 20px var(--color-purple),
                   0 0 30px var(--color-purple);
    }
  }
  
  .box-menu-button .btn-1 svg {
    border-radius: 25px 0 0 0
  }

  .box-menu-button .btn-4 svg {
    border-radius: 0 25px 0 0
  }

  .box-menu-button button svg {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 22px;
    background-color: #161616;
    z-index: 5;
  }

  .box-menu-button button p {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 0);
    font-size: 1.2rem;
    font-weight: 900;
    z-index: 3;
    transition: all .1s linear;
  }
}

/* ---------------- */
/* Screen for table */
/* ---------------- */

@media screen and (min-width:767px) and (max-width:1023px) {
  .bar-menu-mobile {
    display: none;
  }

  .bar-menu-tablet {
    display: block;
  }

  .bar-menu-tablet {
    position:fixed;
    z-index: 1;
  }

  .bar-menu-tablet.active {
    width: 100%;
    height: 100%;
  }
  
  .toggle-menu.active {
    clip-path: circle(150% at 0 0);
  }

  .toggle-menu {
    position: fixed;
    width: 250px;
    height: 100%;
    background-color: #252525;
    z-index: 5;
    clip-path: circle(80px at 15px 10px);
    transition: all .5s linear;
  }

  .box-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    margin: 10px 0 50px 10px ;
    cursor: pointer;
    border-radius: 100%;
  }

  .box-img:hover {
    background-color: #303030;
    transition: all .3s ease;
  }

  .box-menu-logo {
    padding: 30px 0;
    border-top: 3px solid #FFF;
    border-bottom: 3px solid #FFF;
  }

  .menu-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 700;
    font-family: var(--font-family-primary);
    color: #FFF;
  }

  .menu-logo.active {
    animation: move-rigth .7s cubic-bezier(0, 0, 0.10, 1.15);
  }

  .box-ul-tablet.active {
    animation: move-up 1.2s cubic-bezier(0, 0.24, 0.10, 1.15);
  }

  .box-ul-tablet {
    position: absolute;
    width: 100%;
    top: 35%;
  }

  .box-ul-tablet ul li {
    width: 100%;
    list-style: none;
  }

  .box-ul-tablet ul li a svg {
    width: 35px;
    margin: 0 10px 0 0;
  }

  .box-ul-tablet ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 3px;
    color: #FFF;
    text-decoration: none;
    transition: all .1s linear;
  }

  .box-ul-tablet ul li .btn-blue {
    background-color: #252525;
    box-shadow: 0 0 0 var(--color-blue);
    fill: #FFF;
  }

  .box-ul-tablet ul li .btn-blue:hover {
    color: var(--color-blue);
    fill: var(--color-blue);
    box-shadow: -20px 0 0 var(--color-blue);
    transform: translateX(20px);
    transition: all .2s linear;
  }

  .box-ul-tablet ul li .btn-orange {
    background-color: #252525;
    box-shadow: 0 0 0 var(--color-orange);
    fill: #FFF;
  }

  .box-ul-tablet ul li .btn-orange:hover {
    color: var(--color-orange);
    fill: var(--color-orange);
    box-shadow: -20px 0 0 var(--color-orange);
    transform: translateX(20px);
    transition: all .2s linear;
  }

  .box-ul-tablet ul li .btn-green {
    background-color: #252525;
    box-shadow: 0 0 0 var(--color-green);
    fill: #FFF;
  }

  .box-ul-tablet ul li .btn-green:hover {
    color: var(--color-green);
    fill: var(--color-green);
    box-shadow: -20px 0 0 var(--color-green);
    transform: translateX(20px);
    transition: all .2s linear;
  }

  .box-ul-tablet ul li .btn-purple {
    background-color: #252525;
    box-shadow: 0 0 0 var(--color-purple);
    stroke: #FFF;
  }

  .box-ul-tablet ul li .btn-purple:hover {
    color: var(--color-purple);
    stroke: var(--color-purple);
    box-shadow: -20px 0 0 var(--color-purple);
    transform: translateX(20px);
    transition: all .2s linear;
  }
}

@media screen and (min-width:1024px) {
  .bar-menu-mobile {
    display: none;
  }
  .bar-menu-tablet {
    display: none;
  }
}

/* ---------- */
/* animations */
/* ---------- */

@keyframes move-rigth {
  from {
    transform: translateX(-700px);
  } 
  to {
    transform: translateX(0px);
  }
}

@keyframes move-up {
  from {
    transform: translateY(700px);
  }
  to {
    transform: translateY(0px);
  }
}

